:root {
    --azul: #5741DE;
    --blanco: #ffffff;
    --gris-claro: #f5f5f5;
    --gris: #94a3b8;
    --gris-oscuro: #64748b;
    --negro: rgb(26, 26, 29);
    --red: #f5476c;
}

body {
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
    background-color: var(--gris-claro);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.fijar {
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}

.sombra {
    box-shadow: 0px 9px 10px -10px rgba(60, 60, 60, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(64, 64, 64, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(55, 55, 55, 0.51);
    background-color: var(--blanco);
    padding: 4rem;
    border-radius: 1.2rem;
}

header {
    background: var(--azul);
}

header h1 {
    padding: 3rem 0;
    margin: 0;
    color: var(--blanco);
    text-align: center;
}

.formulario {
    width: 95%;
    margin: 0 auto;
    padding: 10rem 0;
}
@media (min-width: 768px) {
    .formulario {
        padding: 5rem 0;
        width: 60rem;
    }
}
.formulario legend {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    display: block;
    color: var(--blanco);
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    border-bottom: 5px solid var(--azul);
}
.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    color: var(--azul);
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 900;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    background-color: var(--gris-claro);
    border-radius: .5rem;
    padding: 1rem;
    border: none;
    flex: 1;
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    color: #465264;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.formulario input[type="submit"] {
    background-color: var(--azul);
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--blanco);
    font-weight: 800;
    font-size: 2.2rem;
    letter-spacing: .04rem;
    font-family: "Manrope", sans-serif;
    width: 100%;
    transition: background-color 300ms ease;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 5rem;
        width: 100%;
    }
}
.formulario input[type="submit"]:hover {
    background-color: #6652e8;
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    text-align: center;
    background-color: var(--gris-claro);
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    color: var(--gris-oscuro);
    font-weight: 700;
}

.alerta {
    padding: 1rem 5rem;
    max-width: 60rem;
    margin: 2rem auto 2rem auto;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Manrope", sans-serif;
    border-radius: .5rem;
}
.alerta.error {
    background-color: var(--red);
    color: var(--blanco);
    /* border-radius: 1rem; */
}
/* .alerta.success {
} */

.contenedor {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}
.contenedor-presupuesto {
    margin-top: -5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(5rem);
}
.dos-columnas {
    flex-direction: column;
}
.dos-columnas :first-child {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .dos-columnas {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    .dos-columnas > div {
        width: 50%;
    }
    /* .dos-columnas :first-child {
        margin-bottom: 0;
    } */
}
.formulario input[type="text"].nuevo-presupuesto, 
.formulario input[type="number"].nuevo-presupuesto {
    font-size: 2.8rem;
    text-align: center;
    font-family: "Manrope", sans-serif;
}

::placeholder {
    color: #b5b5b7;
  }
.contenedor-presupuesto svg {
    width: 25rem;
}

.contenido-presupuesto {
    width: 100%;
}
.contenido-presupuesto p {
    font-weight: 400;
    color: var(--gris-oscuro);
    font-size: 2.4rem;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-presupuesto p {
        text-align: left;
    }
}



.contenido-presupuesto p.negativo,
.contenido-presupuesto p.negativo span {
    color: var(--red);
}
.contenido-presupuesto span {
    font-weight: 900;
    color: var(--azul);
}
.reset-app {
    border: none;
    background-color: #db2777;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 900;
    border-radius: .5rem;
    transition-property: background-color;
    transition-duration: 300ms;
    font-family: "Manrope", sans-serif;
}
.reset-app:hover {
    background-color: #c71465;
    cursor: pointer;
}

main {
    padding-top: 10rem;
}

.filtros .campo {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.filtros label {
    font-size: 3rem;
    font-weight: 900;
    color: var(--gris-oscuro);
}
.filtros select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    text-align: center;
    background-color: var(--gris-claro);
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    color: var(--gris-oscuro);
    font-weight: 700;
}

.listado-gastos {
    margin-top: 5rem;
}
.listado-gastos h2 {
    color: var(--gris-oscuro);
    font-weight: 900;
    margin-bottom: 2rem;
}
.no-gastos {
    text-align: center;
    font-size: 2.2rem;
}

.gasto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.cantidad-gasto {
    font-size: 3rem;
    color: var(--negro);
    font-weight: 900;
}

.contenido-gasto {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contenido-gasto img {
    width: 10rem;
}

.descripcion-gasto p {
    margin: 0 0 0.3rem 0;
}
.descripcion-gasto .categoria {
    color: var(--gris);
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
}
.descripcion-gasto p {
    margin-bottom: 1rem;
}
.descripcion-gasto .nombre-gasto {
    color: var(--gris-oscuro);
    font-size: 2.4rem;
    font-weight: 700;
}
.descripcion-gasto .nombre-gasto:hover {
    cursor: pointer;
}
.descripcion-gasto .fecha-gasto {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--gris-oscuro);
}
.descripcion-gasto .fecha-gasto span {
    font-weight: 400;
}

.nuevo-gasto {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}

.nuevo-gasto button {
    border: none;
    background-color: #23DD83;
    padding: 1rem 2rem;
    /* width: 100%; */
    text-align: center;
    color: var(--blanco);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: .5rem;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: background-color;
    transition-duration: 300ms;
}
.nuevo-gasto button:hover {
    cursor: pointer;
    background-color: #2ce98e;
}


.modal {
    position: absolute;
    background-color: rgba(20, 21, 21, 0.9);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal .cerrar-modal {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 3rem;
    height: 3rem;
}
.modal .cerrar-modal img {
    width: 100%;
}

.modal .cerrar-modal img:hover {
    cursor: pointer
}

.modal .formulario {
    max-width: 80rem;
    width: 40rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
}
.modal label {
    color: var(--blanco);
}
body .modal {
    overflow: hidden;
}

.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}

.modal label {
    text-align: left;
}

.CircularProgressbar .CircularProgressbar-text {
    font-size: 1rem !important;
}

/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
    background-color: var(--azul);
    color: var(--blanco);
    margin-bottom: 2rem;
    border-radius: 1rem 0 0 1rem;
    font-weight: 700;
}

.swipe-action__trailing {
    background-color: #db2777;
    margin-bottom: 2rem;
    color: var(--blanco);
    border-radius: 0 1rem 1rem 0;
    font-weight: 700;
}

.swipeable-list .swipe-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-align: right;
}

@media (max-width:570px) {
    .filtros-flex{
        display: flex;
        flex-direction: column;
    }
    
    .filtros-flex select{
        width: 100%;
    }
}

@media (max-width: 515px) {
    .formulario input[type="text"].nuevo-presupuesto, 
    .formulario input[type="number"].nuevo-presupuesto {
        width: 100%;
        text-align: center;
        font-family: "Manrope", sans-serif;
    }

    .formulario label {
        font-size: 2.2rem;
        margin-bottom: 2.8rem;
    }

    .contenido-presupuesto p {
        font-size: 2.2rem;
    }

    .contenido-gasto img {
        width: 7rem;
    }

    .descripcion-gasto .nombre-gasto {
        font-size: 2.2rem;
    }

    .descripcion-gasto .fecha-gasto {
        font-size: 1.5rem;
    }

    .cantidad-gasto {
        font-size: 2.5rem;
    }

    

}

@media (max-width: 450px) {
    .formulario legend {
        font-size: 3.2rem;
    }

    .formulario .campo {
        margin-left: 10px;
    }

    .input-modal{
        width: 90%;
    }
    .formulario input[type="submit"] {
        width: 90%;
        margin-left: 10px;
    }
}

@media (max-width: 395px) {
    .contenido-presupuesto p {
        font-size: 2rem;
    }

    .contenido-gasto img {
        width: 5rem;
    }
    .gasto {
        flex-direction: column;
    }

    .cantidad-gasto {
        font-size: 3rem;
    }

    .formulario legend {
        font-size: 3.2rem;
        text-align: left;
        margin-left: 10px;
    }

    .input-modal{
        width: 80%;
    }
    .formulario input[type="submit"] {
        width: 80%;
        margin-left: 10px;
    }
}

